* {
	box-sizing: border-box;
	--accent: #1e94e3;
}
body,
body[data-theme="light"] {
	--primary: #ffffff;
	--secondary: #222222;
}

body[data-theme="dark"] {
	--primary: #222222;
	--secondary: #ffffff;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
